.txt{
    font-size: 70px;
    font-weight: 700;
}
 .s_icon[type='search']::placeholder{
    font-family:fontAwesome;
    font-size: 18px;
    color:#ccc;
 }
 
   
  @media (max-width: 425px) {
    .txt{
        font-size: 30px;
        font-weight: 700;
    }
  }
  @media (min-width: 425px) {
    .txt{
        font-size: 40px;
        font-weight: 700;
    }
  }